.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
}

.hamster-cards {
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: lightpink;
    border-radius: 2rem;
    max-width: 18vw;
    margin: 0.5rem;
}

.card-texts {
    margin: 1rem;
}

.card-imgs {
    height: auto; 
    width: auto; 
    max-width: 13vw; 
    max-height: 13vh;
    padding: 0.5rem;
}